body {
    background-color: #1a2427;
}

.center {
    margin: auto;
    display: table;
    margin-top: 10px;
}

h1,
h2,
h3,
h4 {
    color: white;
    margin: auto;
    text-align: center;
    width: 50%;
    margin-top: 10px;
}

h4 {
    margin-top: 0px;
}
